.panel {
    position: relative;
    margin-top: box-model('margin', 'base');
    margin-bottom: box-model('margin', 'base');

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.panel__main,
.panel__header,
.panel__footer {
    padding: box-model('padding', 'base');
}

.panel--popup {
    margin-left: auto;
    margin-right: auto;
}

@if mixin-exists('extend-styles') {
    @include extend-styles($panel-styles);
}